.postcss-test {
  height: 30px;
  background: blueviolet;
  user-select: none;
}

:root {
  --el-fill-color-blank: transparent;

  .el-collapse-item__header {
    height: fit-content;
  }

  .full-dialog-body {
    top: 50px;
    height: calc(100% - 25px);
    display: flex;
  }
  .full-dialog-header {
    height: 15px;
    display: flex;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 公共动画类 */
.fade-item {
  opacity: 0;
  animation: fadeInUp 0.2s ease-in-out forwards;
  animation-delay: var(--delay);
}